
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FEF5E7;
}

h1 {
    color: #DC7633;
    text-align: center;
    margin: 20px auto;
}

h2 {
    color: #795548;
    text-align: center;
    margin: 10px auto;
}

a {
    color: #873600;
    text-decoration: none;
    display: block;
    padding: 10px;
}
a:hover {
  background: #bcaaa4;
  color:#ffecb3;
}

section {
    float: left;
    margin: 10px auto;
    width: 50%;
}

ul {
    list-style-type: circle;
    margin-left: 10%;
    list-style-position: inside;
}

li {

}

li:hover {

}
