
html,
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

* {
    box-sizing: border-box;
}
nav {
    background:#eaeaea;
    height:51px;
        position: fixed;
        width:100%;
}

ul {
    list-style: none;
    padding: 0;
    font-size: 0;
}
a {
    text-decoration:none;
    color:black;
    display:block;
    padding: 15px;
}

a:hover {
    color: #fff;
    background-color: #ddd;
}


li {
    float: right;
    /* background-color: #eaeaea; */

    font-size: 18px;
    width: 12%;
    text-align: center;
    position: relative;
    text-transform: uppercase;
}


header {
    background-image: url("img/bg.png");
    background-repeat: no-repeat;
    height:500px;
    background-size: 100%;
    /* position:relative; */

}
.sub-header{
    /* margin-top: 50px; */
    position:relative;
    height:33%;
    top:33%;
    background-color: #222;
    opacity: 0.3;
}


h1 {
    margin: auto;
    color: #fff;
    text-align:center;
    padding-top: 6%;
}

.button {
    margin: auto;
    color:#fff;
    border:1px solid yellow;
    width:160px;
    padding:5px;
    text-transform:uppercase;

}
.button:hover{
    background:yellow;
    color:navy;
}










main {
    width:90%;
    margin: auto;
}

