// Fonts
@import url('https://fonts.googleapis.com/css?family=Exo:400,400i,500|Lato');

// Variables
@background_color: #9789f9;
@text_color: #fff;

html,
body {
    height: 100%;
    font-family: "Roboto", "Arial", sans-serif;
    background-color: @background_color;
    color: @text_color;
}

ul {
    list-style: none;
    padding: 0;
}

[class^=ma-] {
    border: 1px solid red;
}
