@import url('https://fonts.googleapis.com/css?family=Exo:100,400,400i,500|Lato');
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: "Exo", "Arial", sans-serif;
  background-color: #fff;
  color: #222222;
}
ul {
  list-style: none;
  padding: 0;
}
p {
  font-family: Exo;
  font-size: 14px;
  color: #858585;
  line-height: 1.5;
  letter-spacing: 1px;
}
.ma-header {
  position: relative;
}
.ma-front {
  position: absolute;
  top: 25vh;
  left: 25vw;
  z-index: 1;
  width: 50vw;
  text-align: center;
}
.ma-front__title {
  font-size: 3em;
  font-weight: 100;
}
.ma-front__try {
  border: none;
  background-color: #ff7176;
  text-transform: uppercase;
  color: #fff;
  padding: 15px 50px;
  font-size: 1.1em;
  border-radius: 3px;
  outline: none;
  text-decoration: none;
  transition: 0.3s all;
}
.ma-front__try:hover {
  color: #fd545a;
  background-color: #a3a3a5;
}
.ma-front__text {
  font-size: 0.8em;
  padding-top: 10px;
}
.ma-slider-item {
  height: 100vh;
  width: 100%;
}
.ma-slider-item img {
  height: inherit;
  width: inherit;
}
.ma-design {
  display: flex;
  height: 85vh;
  position: relative;
}
.ma-design__left {
  width: 60vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ma-design__right {
  background-color: #e7e7e7;
  height: 100%;
  width: 40vw;
}
.ma-design__right:after {
  position: absolute;
  bottom: 0;
  content: "";
  border-top: 60vh solid transparent;
  border-right: 40vw solid #ff7176;
}
.ma-wrapper-center {
  max-width: 65%;
}
.ma-left__title {
  font-size: 2em;
  letter-spacing: 2px;
  font-weight: 400;
  margin-top: 5px;
}
.ma-left__dots {
  color: #ff7176;
  letter-spacing: 2px;
  font-size: 1.2em;
}
.curva-mixin {
  color: #ff7176;
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: 3px;
}
.ma-features {
  background-image: url("../img/design.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ma-features__title {
  letter-spacing: 2px;
  font-weight: 400;
  margin-top: 1vh;
  margin-bottom: 11vh;
}
.ma-features__blocks {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.ma-item {
  width: 25vw;
  text-align: center;
}
.ma-item__title {
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 1.2em;
}
.ma-item__text {
  font-weight: 500;
  font-size: 13px;
}
.ma-note {
  height: 65vh;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.ma-note__left {
  width: 52vw;
  height: 75vh;
  margin-top: -10vh;
  bottom: 0;
  content: "";
  border-top: 75vh solid transparent;
  border-left: 40vw solid #ff7176;
}
.ma-note__right {
  width: 33vw;
}
.ma-note__title {
  font-weight: 400;
  letter-spacing: 1px;
}
.ma-note__dots {
  color: #ff7176;
  letter-spacing: 2px;
  font-size: 1.2em;
}
.ma-note__image {
  position: absolute;
  width: 42vw;
  left: 4vw;
}
.ma-note__image svg {
  width: inherit;
}
.ma-note__text {
  font-weight: 500;
  font-size: 13px;
}
.ma-team {
  background-image: url("../img/team.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ma-team__people {
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 85vw;
  margin-bottom: 10vh;
}
.ma-team__brands {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 75vw;
}
.ma-member {
  width: 23vw;
}
.ma-member__photo {
  width: 70px;
  height: 70px;
  background-color: #3d3c4c;
  margin: auto;
}
.ma-member__name {
  color: #fff;
  font-size: 1.2em;
  margin-bottom: 0;
}
.ma-member__job {
  margin-top: 0;
  text-transform: capitalize;
  color: #ff7176;
  font-weight: 500;
}
.ma-member__describe {
  font-style: italic;
  font-weight: 600;
  color: #a3a3a5;
}
.ma-awesome {
  height: 95vh;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}
.ma-awesome__title {
  margin-top: 0;
  font-weight: 400;
  letter-spacing: 1px;
}
.ma-awesome__text {
  width: 46vw;
  margin-bottom: 11vh;
  font-weight: 500;
}
.ma-awesome__img {
  width: 57vw;
}
.ma-subscribe {
  background-color: #323969;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ma-subscribe__title {
  color: #fff;
  margin: 0;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 2.2em;
}
.ma-subscribe__link {
  color: #999cb4;
}
.ma-subscribe__link:hover {
  color: #ff7176;
  text-decoration: underline;
}
.ma-subscribe__trial {
  width: 24vw;
  align-self: flex-end;
  color: #fff;
}
.ma-subscribe__tos {
  margin-top: 5vh;
}
.ma-form {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 5vh;
}
.ma-form__text {
  height: 7vh;
  background: none;
  border: 1px solid #999cb4;
  outline: 0;
  border-radius: 3px;
  padding-left: 25px;
  color: #fff;
  width: 20vw;
}
.ma-form__email {
  height: 7vh;
  background: none;
  border: 1px solid #999cb4;
  outline: 0;
  border-radius: 3px;
  padding-left: 25px;
  color: #fff;
  width: 20vw;
}
.ma-form__password {
  height: 7vh;
  background: none;
  border: 1px solid #999cb4;
  outline: 0;
  border-radius: 3px;
  padding-left: 25px;
  color: #fff;
  width: 20vw;
}
.ma-form__submit {
  border: none;
  background-color: #ff7176;
  text-transform: uppercase;
  color: #fff;
  padding: 10px 64px;
  font-size: 1.1em;
  border-radius: 3px;
  outline: none;
  text-decoration: none;
  transition: 0.3s all;
}
.ma-form__submit:hover {
  color: #fd545a;
  background-color: #a3a3a5;
}
.ma-form__submit:before {
  content: "";
  background-image: url("../img/arrow.png");
  background-repeat: no-repeat;
  width: 20px;
  height: 45px;
  position: absolute;
  top: -9vh;
  right: 15vw;
}
.ma-footer {
  height: 40vh;
  position: relative;
}
.ma-footer .ma-footer-wrapper {
  height: inherit;
  width: 76vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ma-footer:after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  border-bottom: 40vh solid transparent;
  border-right: 22vw solid #ff7176;
}
.ma-footer .ma-block {
  width: 16vw;
}
.ma-footer .ma-block__header {
  text-transform: capitalize;
  font-size: 1.3em;
  letter-spacing: 1px;
  font-weight: 400;
}
.ma-footer .ma-block__text {
  width: 90%;
  font-size: 0.8em;
}
.ma-footer .ma-block:last-child {
  width: 30vw;
  margin-bottom: 5vh;
}
.ma-footer .ma-list-item {
  padding: 1vh 0;
  font-size: 0.9em;
}
.ma-footer .ma-list-item__link {
  text-decoration: none;
  text-transform: capitalize;
  color: #858585;
  font-size: 0.9em;
}
.ma-footer .ma-list-item__link:hover {
  text-decoration: underline;
  color: #fd545a;
}
.ma-footer .ma-block__form {
  position: relative;
}
.ma-footer__email {
  height: 6vh;
  background-color: #e7e7e7;
  border: 1px solid #858585;
  outline: 0;
  border-radius: 3px;
  padding-left: 25px;
  color: #858585;
}
.ma-footer__submit {
  position: absolute;
  border: none;
  background-color: #ff7176;
  color: #fff;
  font-size: 1.5em;
  padding: 5px 10px;
  border-radius: 3px;
  outline: none;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
}
.ma-footer__submit:hover {
  color: #fd545a;
  background-color: #a3a3a5;
}
.ma-icons {
  display: flex;
  justify-content: space-around;
  width: 15vw;
  margin-left: 2vw;
  margin-top: 2vh;
}
.ma-icons__icon {
  color: #a3a3a5;
  display: inline-block;
  font-size: 1.5em;
}
.ma-icons__icon:hover {
  color: #fd545a;
}
.ma-button {
  display: inline-block;
  padding: 0.5em 1.0em;
  background: #EEE;
  border: none;
  border-radius: 7px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  color: #222;
  font-family: sans-serif;
  font-size: 16px;
  text-shadow: 0 1px white;
  cursor: pointer;
}
.ma-button:hover {
  background-color: #8CF;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  color: #222;
}
.ma-button:active {
  background-color: #28F;
  box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.8);
}
.ma-projects {
  height: 100vh;
  text-align: center;
}
.ma-projects__title {
  margin: 3vh auto;
  font-weight: 400;
  letter-spacing: 1px;
}
.ma-filter-buttons {
  margin: 3vh auto;
}
.ma-grid {
  text-align: center;
}
.ma-grid__item {
  width: 13vw;
  margin: 1vh 4vw;
}
.ma-grid__item img {
  width: 100%;
}
