@import url('https://fonts.googleapis.com/css?family=Exo:100,400,400i,500|Lato');
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: "Exo", "Arial", sans-serif;
  background-color: #fff;
  color: #222222;
}
ul {
  list-style: none;
  padding: 0;
}
p {
  font-family: Exo;
  font-size: 14px;
  color: #858585;
  line-height: 1.5;
  letter-spacing: 1px;
}
.ma-header {
  position: relative;
}
.ma-front {
  position: absolute;
  top: 25vh;
  left: 25vw;
  z-index: 1;
  width: 50vw;
  text-align: center;
}
.ma-front__title {
  font-size: 3em;
  font-weight: 100;
}
.ma-front__try {
  border: none;
  background-color: #f76f73;
  text-transform: uppercase;
  color: #fff;
  padding: 15px 25px;
  font-size: 1.1em;
  border-radius: 3px;
  outline: none;
  text-decoration: none;
}
.ma-front__try:hover {
  color: #000;
}
.ma-front__text {
  font-size: 0.8em;
  padding-top: 10px;
}
.ma-slider-item {
  height: 100vh;
  width: 100%;
}
.ma-slider-item img {
  height: inherit;
  width: inherit;
}
.ma-design {
  display: flex;
  height: 85vh;
  position: relative;
}
.ma-design__left {
  width: 60vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ma-design__right {
  background-color: #e7e7e7;
  height: 100%;
  width: 40vw;
}
.ma-design__right:after {
  position: absolute;
  bottom: 0;
  content: "";
  border-top: 60vh solid transparent;
  border-right: 40vw solid #f76f73;
}
.ma-wrapper-center {
  max-width: 65%;
}
.ma-left__title {
  font-size: 2em;
  letter-spacing: 2px;
  font-weight: 400;
  margin-top: 5px;
}
.ma-left__dots {
  color: #f76f73;
  letter-spacing: 2px;
  font-size: 1.2em;
}
.curva-mixin {
  color: #f76f73;
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: 3px;
}
.ma-features {
  background-image: url("../img/design.jpg");
  background-size: cover;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ma-features__title {
  letter-spacing: 2px;
  font-weight: 400;
  margin-top: 1vh;
  margin-bottom: 11vh;
}
.ma-features__blocks {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.ma-item {
  width: 25vw;
  text-align: center;
}
.ma-item__title {
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 1.2em;
}
.ma-item__text {
  font-weight: 500;
  font-size: 13px;
}
.ma-note {
  height: 65vh;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.ma-note__left {
  width: 52vw;
  height: 75vh;
  margin-top: -10vh;
  bottom: 0;
  content: "";
  border-top: 75vh solid transparent;
  border-left: 40vw solid #f76f73;
}
.ma-note__right {
  width: 33vw;
}
.ma-note__title {
  font-weight: 400;
  letter-spacing: 1px;
}
.ma-note__dots {
  color: #f76f73;
  letter-spacing: 2px;
  font-size: 1.2em;
}
.ma-note__image {
  position: absolute;
  width: 42vw;
  left: 4vw;
}
.ma-note__image svg {
  width: inherit;
}
.ma-note__text {
  font-weight: 500;
  font-size: 13px;
}
.ma-awesome {
  height: 60vh;
}
.ma-subscribe {
  background-color: #252956;
  height: 60vh;
}
.ma-team {
  background-image: url("../img/team.jpeg");
  height: 70vh;
}
