@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Exo');
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  background-color: #e7e7e7;
}
.ma-navbar {
  background-color: #000;
}
.ma-top-menu {
  margin-top: 4vh;
  margin-bottom: 4vh;
  margin-right: 15vw !important;
  text-transform: uppercase;
}
.navbar-default .navbar-nav .active a {
  color: #25db72;
}
