
@font-face {
    font-family: Halloween;
    src: url(oetm.ttf);
}

html,
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: 20px auto;
}

h1 {
    font-family: Halloween, serif;
    font-size: 5em;
    font-weight: 100;
    text-transform: capitalize;
    text-align: center;
    margin: 20px;
}

ul {
    list-style: none;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin: 0 auto;
    font-family: sans-serif;
    padding-left: 0;
}

li {
    display: inline-block;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    display: inline-block;
    padding: 10px;
}
a:hover {
    background-color: #9e9e9e;
}

article {
    margin: 30px auto;
}

article span {
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 2px solid #757575;
    display: inline-block;
    margin-top: 10px;
    width: 100%;
}

p {
    -webkit-column-count: 3;
    /* Chrome, Safari, Opera */
    -moz-column-count: 3;
    /* Firefox */
    column-count: 3;
    -webkit-column-rule: 3px solid #ddd;
    /* Chrome, Safari, Opera */
    -moz-column-rule: 3px solid #ddd;
    /* Firefox */
    column-rule: 3px solid #ddd;
    column-gap: 40px;
    line-height: 22px;
}

p:first-line {
    /*margin-top: 20px;*/
    padding-top: 20px;
    color: red;
}

article:last-child p {
    -webkit-column-count: 2;
    /* Chrome, Safari, Opera */
    -moz-column-count: 2;
    /* Firefox */
    column-count: 2;
}
