
@font-face {
	font-family: Old English Text MT;
	src: url(8967.ttf);
}

html, body {
	margin:0;
}
* {
	box-sizing:border-box;
}

.container {
	width: 90%;
	margin: 20px auto;
}
h1 {
	/* color:crimson; */
	font-family: Old English Text MT;
	font-size:4em;
	text-transform: uppercase;
	text-align: center;

}


ul {
	list-style: none;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin: 0 auto;
	padding: 10px 0;
}
li {
	display: inline-block;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
}
ul * + * {
	margin-left: 20px
}
article {
	margin: 30px auto;
}
article header{
	font-size: 1.3em;
	text-transform: uppercase;
	font-weight: bold;
	border-bottom: 2px solid black;
}
article span {
		font-size: 1.2em;
	text-transform: uppercase;
	font-weight: bold;
	border-bottom: 2px solid black;
}
p {
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
	-moz-column-count: 3; /* Firefox */
	column-count: 3;
	-webkit-column-rule: 3px solid #ddd; /* Chrome, Safari, Opera */
	-moz-column-rule: 3px solid #ddd; /* Firefox */
	column-rule: 3px solid #ddd;
}
article:last-child p {
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
	-moz-column-count: 2; /* Firefox */
	column-count: 2;

}
