* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}


/*Colors*/


/*
#a1d9b2
#59baaa
#f64e77
#777eea
#f0b052
#4777bb
#523b9d

*/

html,
body {
    min-height: 100%;
    font-family: "Arial", sans-serif;
    background-color: #ededed;
}

.container {
    margin: 20px auto;
    width: 1240px;
    height: 90vh;
}

h1 {
    /*text-align: center;*/
    color: black;
    font-size: 1em;
    text-transform: capitalize;
}

[class*="grid-"] {
    float: left;
    border: 1px solid crimson;
}


/*padding: 10px;*/


/*    height: 100px;
    width: 50px;
*/

.class {
    background-image: url(https://placehold.it/600x320);
    background-image: url(https://placehold.it/200x165);
}

.first-1 {
    background-image: url(https://placehold.it/600x150/a1d9b2/000);
    height: inherit;
}

.first-2 {
    background-image: url(https://placehold.it/600x150/59baaa/000);
    height: inherit;
}

.width-600 {}

.grid-1-2 {
    width: 620px;
    height: 100%;
    padding: 10px;
}

.row-150 {
    height: 170px;
}

.row-320 {
    height: 340px;
}

.second-1 {
    background-image: url(https://placehold.it/600x320/f64e77/fff);
    height: inherit;
}
